*{
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.menu_domingo{
    background-color: rgba(128, 128, 128, 0.534);
    width: 400px;
    height: 300px;
    border-radius: 10px;
}


 
.card {
    position: relative;
    display: flex;
    width: 400px;
    background-color: #242824;
    padding: 10px;
    border-radius: 6px;
    gap: 0.5rem;
    height: max-content;
  }
  .bar {
    width: 10px;
    border-radius: 5px;
    background-color: #9147ff;
    transition: all 0.5s ease-in-out;
  }
  .card:hover .bar {
    margin-right: 5px;
  }

  img{
    width:100px;
    height:150px;
    object-fit: scale-down;
  }


  .card_form {
    position: relative;
    min-width: 7em;
    width:100px;
    height: 150px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
    overflow: hidden;
  }
  .card_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card_data span {
    color: #ffffff;
    margin-top: auto;
    font-size: 0.9em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .card_data span:hover {
    color: #28aea5;
    text-decoration: underline;
  }
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5em;
    color: white;
  }
  .text_m {
    font-size: 0.9em;
  }
  .text_s {
    color: #9147ff;
    font-size: 0.6em;
    margin-top: 5px;
  }
  .text_d {
    font-size: 0.7em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin: 6px;
  }
  .cube {
    width: max-content;
    height: 10px;
    transition: all 0.2s;
    transform-style: preserve-3d;
  }

  .voltar_rotina {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    background-color: rgb(77, 77, 77);
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px #9147ff;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    
}